<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ccksy.loan.domain.recommend.mapper.RecommendationExplainMapper">

    <!-- MG_RE_001: explain payload는 보통 경로로 저장하고 서비스에서 파일/스토리지 로딩 -->
    <select id="selectExplainPathByRecommendationId" parameterType="string" resultType="string">
        <![CDATA[
        SELECT explanation_json_path
        FROM RECO_RESULT
        WHERE result_id = #{recommendationId}
        ]]>
    </select>

</mapper>
